Source: liboptimization2-sharp
Priority: extra
Maintainer: Jesse van den Kieboom <jesse.vandenkieboom@epfl.ch>
Build-Depends: debhelper (>= 7),
               autotools-dev,
               cdbs,
               pkg-config,
               mono-gmcs,
               libmono-sqlite2.0-cil,
               libmono2.0-cil,
               libbiorob-math1-sharp (>= 0.3),
               libtool
Standards-Version: 3.8.0
Section: libs
Homepage: http://biorob.epfl.ch

Package: liboptimization2-sharp
Section: libs
Architecture: any
Depends: mono-runtime, libmono-system2.0-cil, libmono-corlib2.0-cil, libmono-sqlite2.0-cil, libmono2.0-cil, libbiorob-math1-sharp
Description: Optimization framework C# bindings
 C# bindings for the optimization framework
